@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');
*{
    margin:0;
    padding: 0;
    height: 100vh;

}
.navbar
{
    height: 10%;
    width: 80%;
    /* background-color: aqua; */
    margin-left: 10%;
    margin-top: 2%;
    display: flex;
}
.logo
{
    height: 100%;
    width: 55%;
}
.element
{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-between;
    /* background-color: blueviolet; */
}
.element a{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-top: 2%;
    color: black;
}

.element .col
{
    color: #91972A;
}
.element .bor
{
    /* border-radius: 10px; */
    /* border: solid; */
    /* border-color:#1091D2; */
    height: 100%;
    width: 20%;
    font-weight: 400;
    color: #1091D2;
    text-align: center;
}
.container1
{
    height:50%;
    width: 90%;
    /* background-color: blueviolet; */
    margin-left: 5%;
    margin-top: 2%;
    display: flex;
}
.container2
{
    height:50%;
    width: 90%;
    /* background-color:blue; */
    margin-left: 5%;
    margin-top: 2%;
    display: flex;
}
.data1
{
    width: 50%;
    height:50%;
    display: flex;
    flex-direction: column;
}
.img1
{

    width: 70%;
    height:90%;
    /* background-color: aqua; */
}
.data2
{
    width: 50%;
    height:50%;
    display: flex;
    flex-direction: column;
    /* background-color: black; */
}
.img2
{
    width: 50%;
    height:100%;
    /* background-color: aqua; */
}
.img1 img{
    height: 100%;
    width: 40%;
    margin-left: 10%;
}
.img2 img{
    height: 100%;
    width: 50%;
}
.data1 h1{
    margin-left: 18%;
    margin-top: 5%;
    font-family: "Readex Pro", sans-serif;
}
.data1 h2{
    margin-left: 18%;
    margin-top: 10%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size:larger;
}
.img2 img{
    margin-left: 10%;
    width: 70%;
}
.data2 h1{
    /* margin-left: 8%; */
    margin-top: 5%;
    font-family: "Readex Pro", sans-serif;
}
.data2 h2{
    /* margin-left: 8%; */
    margin-top: 5%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size:larger;
}
button{
    width: 20%;
    /* height: 30%; */
    padding: 1%;
    margin-top: 5%;
    margin-left: 25%;
    background-color: #F0DF1C;
    color: black;
    border-radius: 20px;
    font-family: "Readex Pro", sans-serif;
    font-weight: 800;
}
.col{
    height: 40%;
    border-bottom: solid black 3px;
}
button:hover{
    scale: 1.1;
    transition: 1s;
}
.element .bor{
    border-radius: 20px;
    border: solid 2px;
    color: #1091D2;
    height: 50%;
}